################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foundation/Application
/Bin/Win32
/Build
/Foundation/Assimp32.dll
/Foundation/Assimp32d.dll
/*.suo
/Doc/html
/Foundation/Engine/*.dll
/Foundation/*.dll
/Foundation/Engine/Graphics/DirectX11Graphics/Shaders/
/Foundation/*.exe
/Foundation/Engine/*.exe
/Foundation/TestApp/Launcher.exe
*.user
