################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foundation/Application
/Bin/Win32
/Build
/Foundation/Assimp32.dll
/Foundation/Assimp32d.dll
